In [6]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Pyspark_1").getOrCreate()
print(spark.version)

3.5.4

In [3]:
!pip install pyspark
!pip install findspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl.metadata (352 bytes)
Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [16]:
data = [(1, 'Jay'), (2, 'Avi'), (3, 'Saint'), (4,'Jerome')]
columns = ['ID', 'Name']
df=spark.createDataFrame(data,columns)
df.show()

+---+------+
| ID|  Name|
+---+------+
|  1|   Jay|
|  2|   Avi|
|  3| Saint|
|  4|Jerome|
+---+------+

In [17]:
df.show(3)

+---+-----+
| ID| Name|
+---+-----+
|  1|  Jay|
|  2|  Avi|
|  3|Saint|
+---+-----+
only showing top 3 rows

In [21]:
df_1=spark.read.csv('small_zipcode.csv', header=True, escape="\"")
df_1.show()
df_1.count()

+---+-------+--------+-------------------+-----+----------+
| id|zipcode|    type|               city|state|population|
+---+-------+--------+-------------------+-----+----------+
|  1|    704|STANDARD|               NULL|   PR|     30100|
|  2|    704|    NULL|PASEO COSTA DEL SUR|   PR|      NULL|
|  3|    709|    NULL|       BDA SAN LUIS|   PR|      3700|
|  4|  76166|  UNIQUE|  CINGULAR WIRELESS|   TX|     84000|
|  5|  76177|STANDARD|               NULL|   TX|      NULL|
+---+-------+--------+-------------------+-----+----------+

5

In [28]:
x=spark.read.csv('sample.csv', header=True, escape="\"")
x.show()

+----------+----------------+-----------------+---------+------+---------+--------+--------------+------+
|year_month|month_of_release|   passenger_type|direction|   sex|      age|estimate|standard_error|status|
+----------+----------------+-----------------+---------+------+---------+--------+--------------+------+
|   2001-01|         2020-09|Long-term migrant| Arrivals|Female|0-4 years|     344|             0| Final|
|   2001-02|         2020-09|Long-term migrant| Arrivals|Female|0-4 years|     269|             0| Final|
|   2001-03|         2020-09|Long-term migrant| Arrivals|Female|0-4 years|     239|             0| Final|
|   2001-04|         2020-09|Long-term migrant| Arrivals|Female|0-4 years|     233|             0| Final|
|   2001-05|         2020-09|Long-term migrant| Arrivals|Female|0-4 years|     206|             0| Final|
|   2001-06|         2020-09|Long-term migrant| Arrivals|Female|0-4 years|     253|             0| Final|
|   2001-07|         2020-09|Long-term migrant| Arrivals|Female|0-4 years|     242|             0| Final|
|   2001-08|         2020-09|Long-term migrant| Arrivals|Female|0-4 years|     255|             0| Final|
|   2001-09|         2020-09|Long-term migrant| Arrivals|Female|0-4 years|     296|             0| Final|
|   2001-10|         2020-09|Long-term migrant| Arrivals|Female|0-4 years|     296|             0| Final|
|   2001-11|         2020-09|Long-term migrant| Arrivals|Female|0-4 years|     367|             0| Final|
|   2001-12|         2020-09|Long-term migrant| Arrivals|Female|0-4 years|     385|             0| Final|
|   2002-01|         2020-09|Long-term migrant| Arrivals|Female|0-4 years|     330|             0| Final|
|   2002-02|         2020-09|Long-term migrant| Arrivals|Female|0-4 years|     303|             0| Final|
|   2002-03|         2020-09|Long-term migrant| Arrivals|Female|0-4 years|     314|             0| Final|
|   2002-04|         2020-09|Long-term migrant| Arrivals|Female|0-4 years|     259|             0| Final|
|   2002-05|         2020-09|Long-term migrant| Arrivals|Female|0-4 years|     258|             0| Final|
|   2002-06|         2020-09|Long-term migrant| Arrivals|Female|0-4 years|     251|             0| Final|
|   2002-07|         2020-09|Long-term migrant| Arrivals|Female|0-4 years|     272|             0| Final|
|   2002-08|         2020-09|Long-term migrant| Arrivals|Female|0-4 years|     323|             0| Final|
+----------+----------------+-----------------+---------+------+---------+--------+--------------+------+
only showing top 20 rows

In [36]:
x.select('age').distinct().show()

+-----------+
|        age|
+-----------+
|35-39 years|
|75-79 years|
|50-54 years|
|30-34 years|
|  0-4 years|
|  90+ years|
|55-59 years|
|      TOTAL|
|  5-9 years|
|80-84 years|
|85-89 years|
|20-24 years|
|15-19 years|
|40-44 years|
|10-14 years|
|65-69 years|
|45-49 years|
|60-64 years|
|70-74 years|
|25-29 years|
+-----------+

In [40]:
y=spark.read.csv('people-100.csv', header=True, escape="\"")
y.show()

+-----+---------------+----------+---------+------+--------------------+--------------------+-------------+--------------------+
|Index|        User Id|First Name|Last Name|   Sex|               Email|               Phone|Date of birth|           Job Title|
+-----+---------------+----------+---------+------+--------------------+--------------------+-------------+--------------------+
|    1|88F7B33d2bcf9f5|    Shelby|  Terrell|  Male|elijah57@example.net|001-084-906-7849x...|   1945-10-26|     Games developer|
|    2|f90cD3E76f1A9b9|   Phillip|  Summers|Female|bethany14@example...|   214.112.6044x4913|   1910-03-24|      Phytotherapist|
|    3|DbeAb8CcdfeFC2c|  Kristine|   Travis|  Male|bthompson@example...|        277.609.7938|   1992-07-02|           Homeopath|
|    4|A31Bee3c201ef58|   Yesenia| Martinez|  Male|kaitlinkaiser@exa...|        584.094.6111|   2017-08-03|   Market researcher|
|    5|1bA7A3dc874da3c|      Lori|     Todd|  Male|buchananmanuel@ex...|   689-207-3558x7233|   1938-12-01|  Veterinary surgeon|
|    6|bfDD7CDEF5D865B|      Erin|      Day|  Male| tconner@example.org|001-171-649-9856x...|   2015-10-28|Waste management ...|
|    7|bE9EEf34cB72AF7| Katherine|     Buck|Female|conniecowan@examp...|+1-773-151-6685x4...|   1989-01-22|Intelligence analyst|
|    8|2EFC6A4e77FaEaC|   Ricardo|   Hinton|  Male|wyattbishop@examp...|001-447-699-7998x...|   1924-03-26|      Hydrogeologist|
|    9|baDcC4DeefD8dEB|      Dave|  Farrell|  Male| nmccann@example.net|  603-428-2429x27392|   2018-10-06|              Lawyer|
|   10|8e4FB470FE19bF0|    Isaiah|    Downs|  Male|virginiaterrell@e...|+1-511-372-1544x8206|   1964-09-20|      Engineer, site|
|   11|BF0BbA03C29Bb3b|    Sheila|     Ross|Female|huangcathy@exampl...|        895.881.4746|   2008-03-20|Advertising accou...|
|   12|F738c69fB34E62E|     Stacy|   Newton|  Male|rayleroy@example.org|  710.673.3213x80335|   1980-10-20|       Warden/ranger|
|   13|C03fDADdAadAdCe|     Mandy|    Blake|  Male|jefferynoble@exam...|  (992)466-1305x4947|   2007-12-08|Scientist, clinic...|
|   14|b759b74BD1dE80d|   Bridget|     Nash|Female|mercedes44@exampl...|       (216)627-8359|   2004-06-28|       Social worker|
|   15|1F0B7D65A00DAF9|   Crystal|   Farmer|  Male|pmiranda@example.org|     +1-024-377-5391|   1992-03-09|Agricultural cons...|
|   16|50Bb061cB30B461|    Thomas|   Knight|Female|braunpriscilla@ex...|     +1-360-880-0766|   2006-02-18|Sport and exercis...|
|   17|D6dbA5308fEC4BC|   Maurice|   Rangel|  Male|sheenabanks@examp...|       (246)187-4969|   2004-08-20|Secretary/adminis...|
|   18|311D775990f066d|     Frank|  Meadows|  Male| gbrewer@example.org|   429.965.3902x4447|   2008-09-16|Audiological scie...|
|   19|7F7E1BAcb0C9AFf|     Alvin|     Paul|  Male|gilbertdonaldson@...|  219.436.0887x07551|   1949-05-12|Teacher, adult ed...|
|   20|88473e15D5c3cD0|     Jared| Mitchell|Female| jcortez@example.com|     +1-958-849-6781|   1921-01-18|    Paediatric nurse|
+-----+---------------+----------+---------+------+--------------------+--------------------+-------------+--------------------+
only showing top 20 rows

In [53]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
y.groupBy('Sex').agg(countDistinct('User Id')).show()
y.printSchema()
y.describe()

+------+-----------------------+
|   Sex|count(DISTINCT User Id)|
+------+-----------------------+
|Female|                     53|
|  Male|                     47|
+------+-----------------------+

root
 |-- Index: string (nullable = true)
 |-- User Id: string (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone: string (nullable = true)
 |-- Date of birth: string (nullable = true)
 |-- Job Title: string (nullable = true)

DataFrame[summary: string, Index: string, User Id: string, First Name: string, Last Name: string, Sex: string, Email: string, Phone: string, Date of birth: string, Job Title: string]

In [73]:
y1=y.withColumn('Full Name', concat_ws(" ","First Name","Last Name"))
y1.show()

+-----+---------------+----------+---------+------+--------------------+--------------------+-------------+--------------------+----------------+
|Index|        User Id|First Name|Last Name|   Sex|               Email|               Phone|Date of birth|           Job Title|       Full Name|
+-----+---------------+----------+---------+------+--------------------+--------------------+-------------+--------------------+----------------+
|    1|88F7B33d2bcf9f5|    Shelby|  Terrell|  Male|elijah57@example.net|001-084-906-7849x...|   1945-10-26|     Games developer|  Shelby Terrell|
|    2|f90cD3E76f1A9b9|   Phillip|  Summers|Female|bethany14@example...|   214.112.6044x4913|   1910-03-24|      Phytotherapist| Phillip Summers|
|    3|DbeAb8CcdfeFC2c|  Kristine|   Travis|  Male|bthompson@example...|        277.609.7938|   1992-07-02|           Homeopath| Kristine Travis|
|    4|A31Bee3c201ef58|   Yesenia| Martinez|  Male|kaitlinkaiser@exa...|        584.094.6111|   2017-08-03|   Market researcher|Yesenia Martinez|
|    5|1bA7A3dc874da3c|      Lori|     Todd|  Male|buchananmanuel@ex...|   689-207-3558x7233|   1938-12-01|  Veterinary surgeon|       Lori Todd|
|    6|bfDD7CDEF5D865B|      Erin|      Day|  Male| tconner@example.org|001-171-649-9856x...|   2015-10-28|Waste management ...|        Erin Day|
|    7|bE9EEf34cB72AF7| Katherine|     Buck|Female|conniecowan@examp...|+1-773-151-6685x4...|   1989-01-22|Intelligence analyst|  Katherine Buck|
|    8|2EFC6A4e77FaEaC|   Ricardo|   Hinton|  Male|wyattbishop@examp...|001-447-699-7998x...|   1924-03-26|      Hydrogeologist|  Ricardo Hinton|
|    9|baDcC4DeefD8dEB|      Dave|  Farrell|  Male| nmccann@example.net|  603-428-2429x27392|   2018-10-06|              Lawyer|    Dave Farrell|
|   10|8e4FB470FE19bF0|    Isaiah|    Downs|  Male|virginiaterrell@e...|+1-511-372-1544x8206|   1964-09-20|      Engineer, site|    Isaiah Downs|
|   11|BF0BbA03C29Bb3b|    Sheila|     Ross|Female|huangcathy@exampl...|        895.881.4746|   2008-03-20|Advertising accou...|     Sheila Ross|
|   12|F738c69fB34E62E|     Stacy|   Newton|  Male|rayleroy@example.org|  710.673.3213x80335|   1980-10-20|       Warden/ranger|    Stacy Newton|
|   13|C03fDADdAadAdCe|     Mandy|    Blake|  Male|jefferynoble@exam...|  (992)466-1305x4947|   2007-12-08|Scientist, clinic...|     Mandy Blake|
|   14|b759b74BD1dE80d|   Bridget|     Nash|Female|mercedes44@exampl...|       (216)627-8359|   2004-06-28|       Social worker|    Bridget Nash|
|   15|1F0B7D65A00DAF9|   Crystal|   Farmer|  Male|pmiranda@example.org|     +1-024-377-5391|   1992-03-09|Agricultural cons...|  Crystal Farmer|
|   16|50Bb061cB30B461|    Thomas|   Knight|Female|braunpriscilla@ex...|     +1-360-880-0766|   2006-02-18|Sport and exercis...|   Thomas Knight|
|   17|D6dbA5308fEC4BC|   Maurice|   Rangel|  Male|sheenabanks@examp...|       (246)187-4969|   2004-08-20|Secretary/adminis...|  Maurice Rangel|
|   18|311D775990f066d|     Frank|  Meadows|  Male| gbrewer@example.org|   429.965.3902x4447|   2008-09-16|Audiological scie...|   Frank Meadows|
|   19|7F7E1BAcb0C9AFf|     Alvin|     Paul|  Male|gilbertdonaldson@...|  219.436.0887x07551|   1949-05-12|Teacher, adult ed...|      Alvin Paul|
|   20|88473e15D5c3cD0|     Jared| Mitchell|Female| jcortez@example.com|     +1-958-849-6781|   1921-01-18|    Paediatric nurse|  Jared Mitchell|
+-----+---------------+----------+---------+------+--------------------+--------------------+-------------+--------------------+----------------+
only showing top 20 rows

In [74]:
y2=y1.drop('First Name', 'Last Name')
y2.show()

+-----+---------------+------+--------------------+--------------------+-------------+--------------------+----------------+
|Index|        User Id|   Sex|               Email|               Phone|Date of birth|           Job Title|       Full Name|
+-----+---------------+------+--------------------+--------------------+-------------+--------------------+----------------+
|    1|88F7B33d2bcf9f5|  Male|elijah57@example.net|001-084-906-7849x...|   1945-10-26|     Games developer|  Shelby Terrell|
|    2|f90cD3E76f1A9b9|Female|bethany14@example...|   214.112.6044x4913|   1910-03-24|      Phytotherapist| Phillip Summers|
|    3|DbeAb8CcdfeFC2c|  Male|bthompson@example...|        277.609.7938|   1992-07-02|           Homeopath| Kristine Travis|
|    4|A31Bee3c201ef58|  Male|kaitlinkaiser@exa...|        584.094.6111|   2017-08-03|   Market researcher|Yesenia Martinez|
|    5|1bA7A3dc874da3c|  Male|buchananmanuel@ex...|   689-207-3558x7233|   1938-12-01|  Veterinary surgeon|       Lori Todd|
|    6|bfDD7CDEF5D865B|  Male| tconner@example.org|001-171-649-9856x...|   2015-10-28|Waste management ...|        Erin Day|
|    7|bE9EEf34cB72AF7|Female|conniecowan@examp...|+1-773-151-6685x4...|   1989-01-22|Intelligence analyst|  Katherine Buck|
|    8|2EFC6A4e77FaEaC|  Male|wyattbishop@examp...|001-447-699-7998x...|   1924-03-26|      Hydrogeologist|  Ricardo Hinton|
|    9|baDcC4DeefD8dEB|  Male| nmccann@example.net|  603-428-2429x27392|   2018-10-06|              Lawyer|    Dave Farrell|
|   10|8e4FB470FE19bF0|  Male|virginiaterrell@e...|+1-511-372-1544x8206|   1964-09-20|      Engineer, site|    Isaiah Downs|
|   11|BF0BbA03C29Bb3b|Female|huangcathy@exampl...|        895.881.4746|   2008-03-20|Advertising accou...|     Sheila Ross|
|   12|F738c69fB34E62E|  Male|rayleroy@example.org|  710.673.3213x80335|   1980-10-20|       Warden/ranger|    Stacy Newton|
|   13|C03fDADdAadAdCe|  Male|jefferynoble@exam...|  (992)466-1305x4947|   2007-12-08|Scientist, clinic...|     Mandy Blake|
|   14|b759b74BD1dE80d|Female|mercedes44@exampl...|       (216)627-8359|   2004-06-28|       Social worker|    Bridget Nash|
|   15|1F0B7D65A00DAF9|  Male|pmiranda@example.org|     +1-024-377-5391|   1992-03-09|Agricultural cons...|  Crystal Farmer|
|   16|50Bb061cB30B461|Female|braunpriscilla@ex...|     +1-360-880-0766|   2006-02-18|Sport and exercis...|   Thomas Knight|
|   17|D6dbA5308fEC4BC|  Male|sheenabanks@examp...|       (246)187-4969|   2004-08-20|Secretary/adminis...|  Maurice Rangel|
|   18|311D775990f066d|  Male| gbrewer@example.org|   429.965.3902x4447|   2008-09-16|Audiological scie...|   Frank Meadows|
|   19|7F7E1BAcb0C9AFf|  Male|gilbertdonaldson@...|  219.436.0887x07551|   1949-05-12|Teacher, adult ed...|      Alvin Paul|
|   20|88473e15D5c3cD0|Female| jcortez@example.com|     +1-958-849-6781|   1921-01-18|    Paediatric nurse|  Jared Mitchell|
+-----+---------------+------+--------------------+--------------------+-------------+--------------------+----------------+
only showing top 20 rows

In [87]:
y2_new=y2.withColumn("Expe", col('5'))
y2_new.show()

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `5` cannot be resolved. Did you mean one of the following? [`Sex`, `Email`, `Index`, `Phone`, `User Id`].;
'Project [Index#948, User Id#949, Sex#952, Email#953, Phone#954, Date of birth#955, Job Title#956, Full Name#2466, '5 AS Expe#4070]
+- Project [Index#948, User Id#949, Sex#952, Email#953, Phone#954, Date of birth#955, Job Title#956, Full Name#2466]
   +- Project [Index#948, User Id#949, First Name#950, Last Name#951, Sex#952, Email#953, Phone#954, Date of birth#955, Job Title#956, concat_ws( , First Name#950, Last Name#951) AS Full Name#2466]
      +- Relation [Index#948,User Id#949,First Name#950,Last Name#951,Sex#952,Email#953,Phone#954,Date of birth#955,Job Title#956] csv